@model IEnumerable<APITask.Models.Beer>

@{
    ViewData["Title"] = "Beers";
}

<h2>Beers</h2>

<form method="get" asp-action="Index">
    <label for="name">Beer name</label>
    <input type="text" name="beer_name" placeholder="Beer name"/>
    <label for="date">Brewed before</label>
    <input type="text" name="brewed_before" placeholder="MM/yyyy"/>
    <input type="submit" value="Search" />
</form>

<form method="get" asp-action="Random">
    <input type="submit" value="Random Beer" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Image_url) *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.First_brewed)*@
                First brewed
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ABV)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Food_pairing)*@
                Food pairings
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img height="300" src="@Html.DisplayFor(modelItem => item.Image_url)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_brewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ABV)
                </td>
                <td>
                    <table>
                        @foreach (var i in item.Food_pairing)
                        {
                            <tr style="border-bottom: 1px solid black;">
                                <td> @i </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
